html
    head
        title My Chat App 
        script(src="/socket.io/socket.io.js")
        script(src="/js/main.js",type="module")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        style 
            include ../public/css/main.css
    body 
        h1(class="heading") Welcome
        form(class="form")
            input(id="message",placeholder="Enter your message",type="text",onclick="")
            button(id="send",type="button") Send
        h1(class="heading2") Chats
        div(id="chat",class="chat") 

